<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        .container1{
            border-style:solid;
            border-width:1px;
        }
        .container2{
            border-style:solid;
            border-width:1px;
        }
    </style>
</head>
<body>
<div class="main">
            <div class="container1">               
                <div class="content">                       
                        <p>Image query</p>    
                        <p></p>            
                        <input type="text" class="Title" id="pic_id" placeholder="Enter the name of the image" />                
                        <br/>                
                        <button id="buttontonext" onClick="select_pic()"> submit </button>               
                </div>            
            </div>        
            <div class="container2">
                <p>choose good pic</p>
                <button id="start" onClick="start()"> start </button>
                <button id="next_pic" onClick="next_pic()"> nex_pic </button>
                <button id="good_pic" onClick="good_pic()"> good_pic </button>
            </div>
</div>        
<img id="pic_path" src="{{static_url('data/pic_data/1.jpg')}}" style="width:500px">
<img id="label_path" src="{{static_url('data/label_data/1.jpg')}}" style="width:500px">

<script type="text/javascript" src="{{static_url('lib/lurlquery.js')}}"></script>
<script type="text/javascript" src="{{static_url('lib/jquery.js')}}"></script>

<script type="text/javascript">
        pic_id_status = 0;
        var pic_status;
        var label_status;
        select_pic =function(){
            var self = this;
            this.pic_id = document.getElementById("pic_id").value;
            var formData = new FormData();
            formData.append('pic_id',this.pic_id);

            lSendUrl('POST', 'http://localhost:12121/select',formData,
                function(response){
                     // console.log('success get pic_id', response['pic_id']);
                     console.log("response",response)
                     var pic_path = document.getElementById("pic_path")
                     pic_path.setAttribute("src",response["pic_path"])
                     var label_path = document.getElementById("label_path")
                     label_path.setAttribute("src",response["label_path"])
                     console.log("response",response)
                }
            )
        }    

        good_pic = function(){
            var self =this;
            this.pic_path = document.getElementById("pic_path").getAttribute("src");
            console.log(pic_path);
            var formData = new FormData();
            formData.append('pic_path',this.pic_path);
            lSendUrl('POST','http://localhost:12121/goodpic',formData,function(response){
                console.log("succesSave")
            })
        }

        start = function(){
            formData = new FormData();
            lSendUrl('POST','http://localhost:12121/start',formData,function(response){
                pic_status = response["pic_path"];
                label_status = response["label_path"];
            })
        }

        next_pic = function(){
            var pic_path = document.getElementById("pic_path");
            pic_path.setAttribute("src",pic_status[pic_id_status]);
            var label_path = document.getElementById("label_path");
            label_path.setAttribute("src",label_status[pic_id_status]);
            pic_id_status ++;
        }

</script>
</body>
</html>